<div class="body container-fluid page-nav" ng-controller="PageNav">
  <div id="main" class="row-fluid" ng-class="{column3 : curriculumSelected != null && yearSelected != null, column2:  yearSelected == null && curriculumSelected != null, column1 : curriculumSelected == null && yearSelected == null}">
    <div id="curriculum" class="span4">
        <ul class="big-show">
          <li ng-repeat="curriculum in curriculums" ng-click="curriculumClick(curriculum)" ng-class="{column2 : curriculumSelected == curriculum}">
              <div class="content">
                <h4>{{curriculum.title}}</h4>
                {{curriculum.subtitle}}
              </div>
              <div class="fui-arrow-right"></div>  
          </li>
        </ul>
    </div>
    <div id="year" class="span4" ng-class="{column2 : curriculumSelected != null, column1 : curriculumSelected == null  }">
        <ul class="small-show test" ng-show="curriculumSelected != null">
        	<li ng-repeat="year in years" ng-click="yearClick(year)" ng-class="{column3 : yearSelected == year }">
        	  <div class="content">
                <h4>{{year}}</h4>
              </div>
              <div class="fui-arrow-right"></div>  
        	</li>
        </ul>
    </div>
    <div id="course" class="span4" ng-class="{column3 : curriculumSelected != null && yearSelected != null, column2:  yearSelected == null && curriculumSelected != null, column1 : curriculumSelected == null && yearSelected == null}">
      	<ul class="small-show test" ng-show="curriculumSelected != null && yearSelected != null">
      		<li ng-repeat="course in courses">
      		  <div class="content">
      		    <h4>{{course.name}}</h4>
      		  	{{course.number}}  
      		  </div>
      		</li>
      	</ul>
    </div>
  </div>
  <div class="row-fluid" style="height:0px">
    <div class="span12" style="height:0px">
    <div id="search-tool" class="span4">
          <div class="footer search">
            <!-- AJAX CALL ONLY -->
              <div class="span10"><input id="search-course" type="search" placeholder="Find your course" class="pull-left"></div>
              <div class="fui-search pull-right"></div>
          </div>
    </div>
    </div>
  </div>
  </div>
  </div>
</div>